/* feuille de style css */

h1 /*titre*/
{
	font-size: 16;
}

html, body, #page
{
	height:100%
}


/* toute la page */

	@font-face {
	font-family: 'Orator Std Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Orator Std Medium'), url('OratorStd.woff') format('woff');
	}

body 
{
	/* fond de la page */
    background-color: #202020;
	
	/* texte de la page */
    color: #444444; 
	font-family: 'Orator Std Medium', Arial, serif;
	margin:0;
}

span /* couleur de la moitié du titre*/
{color: #202020}

#page
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

p
{
	margin:0;
}



/*format des url*/

a
{
	color: #444444;
	font-family: 'Orator Std Medium', Arial, serif;
	text-decoration: none;
	
	transition: 1s;
}

.contact a:hover
{
   	color: cyan;
}


.lien2
{
	color: #202020;
}



	/* SECTIONS / CONTENEURS */


section {
	padding: 13px;
}

.conteneur
{
    display: flex;
    flex-direction: column;
	overflow: hidden;
}

.aside {
	padding-top:5%;
	max-width: 433px;
	color: #202020;
}

.p0
{
	min-height: 880px;
}
	
.p2
{
	padding-right:5%;
}

.conteneur:nth-child(1)
{
    flex: 3;
	background: linear-gradient(113.5deg, #444444 0px, #444444 359px, rgba(255,255,255,0) 360px,rgba(255,255,255,0) 100%);
}



	/* ARTICLES / CADRES */


.titre
{
   	margin-top: 150px;
	margin-left: 143px;
	font-size : 65px;
}

.noms
{
 	font-size : 48px;
}

.prenom
{
 	margin-top: 356px;
	margin-left: 108px;
}

.nom
{
 	margin-top: -10px;
	margin-left: 88px;
}

.contact
{
   	margin-left: 150px;
	font-size : 17px;
	
	transition:1s;
}


/*cadres*/

.cadre1
{
    width: 356px;
    height: 174px;
	padding:10px;
	margin-bottom: 58px;
	margin-right: 15px;
	background-color: rgba(0,0,0, 0.2);
	
	position: relative;
	
	transition : 1s;
}
	
.cadre2
{
   	width: 356px;
    height: 678px;
	padding:10px;
	background-color: rgba(0,0,0, 0.2);
	
	position: relative;
	
	transition : 1s;
}

/*polices cadres*/

	.a1
	{
		font-size: 40px;
		transition : 1s;
	}

	.a2
	{
		font-size: 20px;
		transition : 1s;
	}

	.a3
	{
		font-size: 35px;
		transition : 1s;
	}

	.a1:hover a
	{
		font-size: 50px;
		color:cyan;
	}

	.a2:hover a
	{
		font-size: 27px;
		color:cyan;
	}

	.a3:hover a
	{
		font-size: 50px;
		color:cyan;
	}

/*sous-cadres*/	
	
.souscadre1
{
	background: linear-gradient(120deg, #444444 0%, #444444 50%, rgba(0,0,0,0) 50.3%,rgba(0,0,0,0) 100%);
	
	width: 70%;
    height: 100%;
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	transition: 1s;
	
	z-index:1
}

.souscadre2
{
	background: linear-gradient(110deg, #444444 0%, #444444 40%, rgba(0,0,0,0) 40.3%,rgba(0,0,0,0) 100%);
	
	width: 70%;
    height: 100%;
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	transition: 1s;
}


.cadre1:hover .souscadre1
	{
	width:100%;
	}

.cadre2:hover .souscadre2
	{
	width:100%;
	}

	
/* page 2 & 3 */
	
.colonne
	{
    display: flex;
	margin: auto;
	}
	
.souscolonne
	{
	margin: auto;
	width:400px;
	position:relative;
	text-align:center;
	}
	
.sc1
	{
	margin-bottom:50px;
	font-size : 65px;
	}

/*pourquoi ça marche pas ça
	
.miniatures
	{
	position: absolute;
	left:0px;
	top:0px;
	}
	
*/
	
	
	/* CHANGEMENTS DE RESOLUTION */

	
/* format téléphone*/
@media screen and (max-width: 1400px)
{
	#page
	{
		display: block;
	}
}

/*grands écrans*/
@media (min-width: 1800px)
{
.aside
		{
		margin-right: 25px;
		}
}

@media (min-width: 2100px)
{
.aside
		{
		margin-right: 75px;
		}
}